* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Fira Code", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: 0.5s;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces {
    background: #313244;
    border-radius: 10px;
    margin: 5px;
    padding: 0px 1px;
    border: 3px solid #11111b;
    font-weight: bold;
}

#workspaces button {
    color: #7f849c;
    border-radius: 8px;
    padding: 2px 8px;
    margin: 2px 3px;
    background: transparent;
}

#workspaces button.active {
    background: #a6e3a1;
    color: #11111b;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 8px;
}

#workspaces button.urgent {
    background: #f38ba8;
    color: #11111b;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
}

#window,
#clock,
#battery,
#network,
#bluetooth,
#language,
#pulseaudio,
#tray {
    background: #313244;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 8px;
    border: 2px solid #11111b;
    color: #cdd6f4;
    border-radius: 8px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #fab387;
    font-weight: bold;
}

#battery {
    color: #a6e3a1;
}

#battery.charging,
#battery.plugged {
    color: #a6e3a1;
    background-color: #313244;
}

@keyframes blink {
    to {
        background-color: #f38ba8;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #cdd6f4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    color: #89b4fa;
}

#network.disconnected {
    color: #f38ba8;
}

#bluetooth {
    color: #89dceb;
}

#bluetooth.disabled {
    color: #585b70;
}

#language {
    color: #f9e2af;
    font-weight: bold;
}

#pulseaudio {
    color: #cba6f7;
}

#pulseaudio.muted {
    color: #f38ba8;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb6f92;
}
